layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zjstatus"
        }
        children
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="CODE" {
        pane
    }
    tab name="SSH" {
        pane
    }
    tab name="VARIOUS" {
        pane
    }
}

