tap "homebrew/bundle"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "warrensbox/tap"
tap "hashicorp/tap"

brew "python"
brew "awscli"
brew "glib"
brew "chamber"
brew "checkov"
brew "shellcheck"
brew "git"
brew "gnupg"
brew "pinentry-mac"
brew "htop"
brew "lazygit"
brew "pre-commit"
brew "pwgen"
brew "watch"
brew "curl"
brew "wget"
brew "zsh"
brew "cloc"

cask "alt-tab"
cask "slack"
cask "telegram"
cask "zoom"
cask "maccy"
cask "jetbrains-toolbox"
cask "iterm2"
# Installed from AppMarket
# cask "hiddenbar"
cask "gpg-suite"
